services:
  neo4j:
    image: neo4j:latest
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_PLUGINS: '["graph-data-science", "apoc"]'
      NEO4J_AUTH: "neo4j/neo4j123"
      NEO4J_dbms_security_procedures_unrestricted: "gds.*"
      NEO4J_dbms_security_procedures_whitelist: "gds.*"
    volumes:
      # On Windows, use forward slashes in paths
      - "E:/neo4j_data:/data"
    restart: always
